{% extends 'base.html' %} {% block content %}

<h1>Creates a new playlist!</h1>
<form method="POST" action="/playlists/add">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br />
    {{ form.name(size=20) }}<br />
    {% for error in form.name.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(size=20) }}<br />
    {% for error in form.description.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
